body {
  margin: 0;
}

.header {
  position: relative;
  background-color: rgb(247, 187, 160);
  text-align: center;
  box-shadow: 0 4px 15px white;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 130px;
  min-width: 500px;
}
h1 {
  display: inline;
  letter-spacing: 1.3rem;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: xxx-large;
  color: green;
  text-shadow: 0 6px 6px skyblue;
}

h1::first-letter {
  color: red;
  text-shadow: 0 12px 12px black;
  font-size: 5rem;
}

.main-content {
  background-color: rgb(185, 176, 236);
  text-align: center;
  padding-top: 117px;
  padding-bottom: 117px;
  min-width: 500px;
  height: 100vh;
}

h3 {
  display: inline;
  letter-spacing: 1.3rem;
  margin: 0;
  color: white;
  text-shadow: 0 6px 6px green;
  font-size: xxx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
